---
#
# Author: Rongyang Sun <sun-rongyang@outlook.com>
# Creation Date: 2021-08-05 21:56
# 
# Description: C++ code formatting style based on Google style
#

BasedOnStyle: Google

ColumnLimit: 96     # Better stop at 80

AlignAfterOpenBracket: AlwaysBreak
#DanglingParenthesis: true    # Unsupported up to now, see https://reviews.llvm.org/D33029
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

DerivePointerAlignment: false
PointerAlignment: Right

AccessModifierOffset: -2

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

SortIncludes: false
SortUsingDeclarations: false
...
